{% extends 'base.html' %}


{% block body %}
<div class="container" style="text-align: justify;">
    <h3><strong>Open Data</strong></h3>
    <br>
    Wir wollen einen Beitrag zu <strong>Transparenz</strong> und Versachlichung der Diskusion um die
    <strong>Energiewende</strong> leisten.
    Darum verwenden wir ausschließlich offene, d.h für jeden einsehbare und direkt zugängliche Daten.
    <br><br>
    Die Datenquellen sind:
    <br><br>
    <ul>
        <li><a href="https://www.sh-netz.com/cps/rde/xchg/sh-netz/hs.xsl/2472.htm">Schleswig-Holstein Netz</a></li>
        <li><a href="http://data.open-power-system-data.org">Open Power System Data platform</a></li>
    </ul>
    <br>
    Immer häufiger ist Open Data ein Thema in Unternehmen, Forschung und Verwaltung,
    so dass laufend neue Open Data Portale entstehen.
    Beispiele aus dem Land <strong>Schleswig-Holstein</strong> sind:
    <br><br>
    <ul>
        <li><a href="http://www.kiel.de/rathaus/statistik/open_data/index.php?cat=liste">Kieler Stadtverwaltung</a></li>
        <li><a href="http://www.statistik-nord.de/">Statistikamt Nord</a></li>
    </ul>
    <br>
    Einen Überblick gibt der Datensatz des
    <a href="https://wiki.kreativhack.de/kh16/content/daten/start">KeativHack-Kiel</a>.
    <br><br>
</div>
{% endblock %}
