{% extends 'base.html' %}


{% block body %}
<div class="container">
       <h3><strong>Team</strong></h3>
    Das Team entstammt dem <a href="https://wiki.kreativhack.de/kh16/start?redirect=1">
    Kreativ-Hack-Kiel 2016</a> und setzt sich zusammen aus:
        <br><br>
        <ul>
            <li><a href="https://www.geohydromodellierung.ifg.uni-kiel.de/de/
            team/jens-olaf-delfs">Jens-Olaf Delfs</a></li>
            <li>Sven Jonetat</li>
             <li>Robert ?</li>
            <li><a href="https://www.uni-flensburg.de/eum/wer-wir-sind/team/
            wissenschaftliche-mitarbeiterinnen-und-mitarbeiter/clemens-wingenbach/">Clemens Wingenbach</a></li>
        </ul>
        <br><br>
</div>
{% endblock %}