{% extends 'base.html' %}


{% block home_active %}
active
{% endblock %}

{% block body %}
<div class="container" style="text-align: justify;">

    Wir befinden uns inmitten einer <strong>Energiewende</strong>
    mit einer rasanten Zunahme des Anteils der erneuerbaren Energien im
    <a href="https://www.destatis.de/DE/ZahlenFakten/Wirtschaftsbereiche/Energie/Erzeugung/Tabellen/Bruttostromerzeugung.html">
        Energiemix</a>.
    Häufig drohen <strong>Netzengpässe</strong> aufgrund einer unerwartet hohen Einspeisung des wetterabhängigen Anteils der
    erneuerbaren Energien (Windkraft, Photovoltaik).
    Dann müssen diese in sogenannten Einspeisemanagementeinsätzen
    (kurz <strong>Eisman-Einsätzen</strong>) abgeregelt werden.
    Dadurch gehen uns große Mengen an erneuerbaren Energien verloren (z.B. 900 GWh im Jahr 2014).
    <br><br>
    Die Energie im Stromnetz wird bei Eisman-Einsätzen durch Eingriffe auf der Erzeugerseite des Strommarktes gesteuert.
    Es besteht jedoch die Möglichkeit und auch der Wunsch,
    <strong>dass die Abnehmerseite den Strommarkt mitgestaltet</strong>.
    Dazu muß diese Wissen, ob ein Netzengpass zurzeit vorliegt oder ob ein solcher in näherer Zukunft zu erwarten ist.
    <br><br>

    Das Projekt Powerforecast verfolgt das Ziel, auf Grundlage vergangener Eisman-Einsätze und Wetterprognosen
    drohende Engpässe im Stromnetz vorauszusagen.
    <strong>Stromabnehmer bekommen somit die Möglichkeit, ihren Verbrauch entsprechend anzupassen</strong>.

    <br><br>
    Das Projekt <strong>Powerforecast</strong> entstammt dem
    <a href="https://wiki.kreativhack.de/kh16/start?redirect=1">KreativHack-Kiel 2016</a>, organisiert von
    <a href="https://toppoint.de/">Toppoint e.V.</a> und <a href="http://www.starterkitchen.de/">opencampus.sh</a>.
    Es ist Bestandteil der
    <a href="http://www.schleswig-holstein.de/DE/Schwerpunkte/DigitaleAgenda/Downloads/downloads/digitale_agenda_2016.pdf">
        Digitalen Agenda des Landes Schleswig-Holstein</a>.
</div>
<br><br>
{% endblock %}
