<!DOCTYPE html>
<html lang="en">
    <head>
        {% if id != None %}
        <meta charset="utf-8" http-equiv="refresh" content={{"2;url="+url_for('start_show', id=id+1)}}>
        {%else%}
         <meta charset="utf-8"> 
        {%endif%}
        <title>Bokeh Scatter Plots</title>
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.css"
    rel="stylesheet" type="text/css">
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.3.min.css"
    rel="stylesheet" type="text/css">

<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.3.min.js"></script>

        {{ script }}

    </head>
<body>
        <h1>The power forecaster for idealists.<h1>
        <h3>Goal: To predict the contributions of solar and wind energy in the power network of Schleswig-Holstein for the following 24 hours. This tells us Fischkoepfe if we should do our laundry right now or better wait for a few hours. </h3>
        <h3>Current state: It shows where the network was overloaded in the last three years which resulted into a curtailment of wind energy (in 2014 906 GWh).</h3>
        <a href={{url_for('timestamp')}}>Home</a>
        <a href={{url_for('start_show', id=0)}}>Go back in time</a>
        Timestamp: {{timestamp}}
        {{ div }}
</body>
</html>
