<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" http-equiv="refresh" content={{"2;url="+url_for('start_show', id=id+1)}}>
        <title>Bokeh Scatter Plots</title>
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.css"
    rel="stylesheet" type="text/css">
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.3.min.css"
    rel="stylesheet" type="text/css">

<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.3.min.js"></script>

        {{ script }}

    </head>
<body>
        <h1>This is powerforecast</h1>
        {{ div }}
</body>
</html>
